[Unit]
Description=Space Weather VTEC
After=network.target

[Service]
Type=simple
User=homeassistant
EnvironmentFile=/etc/secrets/space-weather
ExecStart=/srv/space-weather/ha-noaa-space-weather/venv/bin/python /srv/space-weather/ha-noaa-space-weather-sensor/feeder-mqtt/main.py
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
