[Unit]
Description=Space Weather Cache
After=network.target

[Service]
Type=simple
User=homeassistant
EnvironmentFile=/etc/secrets/space-weather
ExecStart=/srv/ha-noaa-space-weather/venv/bin/python /srv/ha-noaa-space-weather/feeder/cache.py
SyslogIdentifier=space-weather-cache
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
