[Unit]
Description=Space Weather Server
After=network.target

[Service]
Type=simple
User=homeassistant
EnvironmentFile=/etc/secrets/space-weather
ExecStart=/srv/ha-noaa-space-weather/venv/bin/gunicorn --workers 7 --bind 0.0.0.0:5000 server:app --access-logfile '-' --error-logfile '-'
SyslogIdentifier=space-weather-server
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
